<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div>
                    <p >@Html.ActionLink("your logo here", "Index", "Home")</p>
                <div>
                        @Html.Partial("_LoginPartial")
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderBody()            
        </div>
        <footer>
            <div >
                <div >
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            var baseUrl = '@Url.Content("~")';
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/linq.js"></script>
        @*@Scripts.Render("~/bundles/signalR")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
